@font-face{
    font-family: khand;
    src:url(../Fonts/Khand-Regular.ttf)
  }
  
  @font-face{
    font-family: kalam;
    src:url(../Fonts/Kalam-Regular.ttf)
  }
  
  @font-face{
    font-family: srisakdi;
    src:url(../Fonts/Srisakdi-Regular.ttf)
  }
  
  :root{
    --first-font: khand;
    --second-font: kalam;
    --main-font: Srisakdi; 
  
  }
 
.intro {
  max-width:700px; 
  margin:auto;
}

  h1 {
    padding-top: 7%;
    text-align: center;
    font-family: var(--second-font);
    font-size: 200%;
}

h2 {
    text-align: center;
    padding-top: 1%;
    font-family: var(--second-font);
    font-size: 130%;
}

h3 {
  text-align: center;
  font-family: var(--second-font);
  font-size: 100%;
}

p {
   text-align: center;
   font-family: var(--second-font);
}

.keys {
  text-align: center;
}

.glow {
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #751132, 0 0 30px #751132, 0 0 40px #751132, 0 0 50px #751132, 0 0 60px #751132, 0 0 70px #751132;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #fee4ff, 0 0 40px #fee4ff, 0 0 50px #fee4ff, 0 0 60px #fee4ff, 0 0 70px #fee4ff, 0 0 80px #fee4ff;
  }
}

.heatmap {
  padding-left: 10%;
}

.donut {
  padding-left: 28%;
}

.pie {
  padding-left: 29%;
}

.pagination {
  display: inline-block;
  padding-top: 7.5%;
  padding-bottom: 5%;
  text-align: center;
  padding-left: 43.5%;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.activeP {
  background-color: #AEF359;
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #AEF359;
  border-radius: 5px;
}
